/* SHEET CONTENT: CLASS AND ID */

/* Item */

.item {
  box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
}

  .item header {
    background: #4B4A67;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 0.8em;
  }

    .item header h3 {
      font-size: 1em;
    }

    /* Icons */

	.icon {
		text-decoration: none;
  }
  
  /* Header */
  #header .top {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
  #header .bottom {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0.75em 0;
  }

  /* Header */

  #nav ul li a.active {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
    color: #fff;
  }

    #nav ul li a.active span:before {
      color: #e27689;
    }

    /* Footer */

	#footer {
		margin-left: 375px;
		text-align: center;
		background-color: #dce3e2;
		padding: 3em 0 4em 0;
		box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
		font-size: 0.8em;
	}

		#footer .copyright {
			cursor: default;
			margin: 0;
		}
    #footer .copyright li:first-child {
      border-left: 0;
      padding-left: 0;
      margin-left: 0;
    }

    /* Main */

	#main {
		margin-left: 375px;
	}

		#main > section {
			margin: 0;
			overflow: hidden;
			padding: 4em 0;
			box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
			text-align: center;
			background-image: url("images/overlay.png");
		}

			#main > section.dark {
				color: #ddd;
				color: rgba(255, 255, 255, 0.75);
			}

				#main > section.dark h2, #main > section.dark h3, #main > section.dark h4, #main > section.dark h5, #main > section.dark h6 {
					color: inherit;
				}

				#main > section.dark strong {
					color: #fff;
					border-color: inherit;
				}

				#main > section.dark a {
					color: #fff;
					border-color: inherit;
				}

					#main > section.dark a:hover {
						border-bottom-color: rgba(255, 255, 255, 0);
					}

			#main > section.cover {
				padding: 10em 0;
				background-size: cover;
				background-position: center center;
			}

			#main > section.one {
				background-color: #282F44;
				background-image: url("../../images/banner.jpg");
			}

			#main > section.two {
				background-color: #63768D;
			}

			#main > section.three {
				background-color: #282F44;
			}

			#main > section.four {
				background-color: #63768D;
			}
      @media screen and (min-width: 961px) and (max-width: 1620px) {

        /* Main */
    
          #main > section {
            padding: 3em 0;
          }
    
          #main section.cover {
            padding: 5em 0;
          }
    
      }

      @media screen and (min-width: 961px) and (max-width: 1320px){
      /* Item */

			.item {
				margin-bottom: 20px;
      }
      
      /* Header */

      #header {
        width: 20%;
      }

      /* Footer */

			#footer {
				margin-left: 20%;
      }
      
      #main {
				margin-left: 20%;
      }
      
      }

      @media screen and (max-width: 960px) {
        /* Item */

			.item {
				margin-bottom: 15px;
			}

      }

      @media screen and (max-width: 960px){


			#main {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
				margin-left: 0;
			}

				#main > section {
					padding: 3em 0;
				}

				#main section.cover {
					padding: 4em 0;
				}
      }

      @media screen and (max-width: 736px){
        	/* Main */

			#main > section {
				padding: 2em 0;
			}

			#main section.cover {
				padding: 4em 0em;
			}

				#main section.cover header {
					padding: 0 1em;
				}
      }